h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: grey;
}

.content {
    width: 80%;
    max-width: 1020px;
    margin: 20px auto;
}

section {
    margin: 60px 0;
}

.loading {
    text-align: center;
    margin-top: 100px;
}

.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.3;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.charts {
    display: flex;
}